# Node dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Temporary files & logs
*.log
*.tmp

# SQLite journal & lock files
*.db-journal
*.db-shm
*.db-wal

# Operating System files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# Daily uploaded reports data
data harian/
1308 vcr.csv
14-09-2026.xls

